<ion-content>
  <div class="main_content_div">
    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/back_image.jpg)'">
    </div>
    <div class="white_div" [style.backgroundImage]="'url('+photo+')'"></div>

    <div class="content_div">
      <p class="username">{{name}}</p>
      <p class="location">{{email}}</p>

      <div class="flex_div">
        <p (click)="goToselectRestaurants()">{{'Add Review' | translate}}</p>
        <p (click)="goToEditProfile()">{{'Edit Profile' | translate}}</p>
        <p (click)="goToAddress()">{{'Manage Address' | translate}}</p>
      </div>

      <div class="segment_div">
        <p [class.active]="seg_id == 1" (click)="changeSegment(2)">{{'Reviews' | translate}}</p>
      </div>

      <div *ngIf="!reviews?.length" class="segment_detail">
        <img src="assets/imgs/paper.png" class="sleepy">

        <p class="sleepy_lbl">{{"You haven't written any review yet." | translate}}</p>
        <button (click)="goToselectRestaurants()" expand="block" size="small" fill="clear">
          {{'Add Review' | translate}}
        </button>
      </div>

      <div class="review_list" *ngFor="let item of reviews">
        <ion-row class="review-card">
          <ion-col size="4">
            <img height="50" width="50" src="{{item.cover}}" alt="" onError="this.src='assets/imgs/paper.png'">
          </ion-col>
          <ion-col size="8">
            <p class="review-title"> {{item.vid.name}}</p>
            <p class="review-description">{{item.descriptions}}</p>
          </ion-col>
        </ion-row>
      </div>
      

      <br>
      <button class="btnLogout" (click)="logout()"> 
        {{'Logout' | translate}}
      </button>
      
    </div>
  </div>

</ion-content>