
<!-- Nuevo -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Forgot Password?' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content class="ion-padding">
  <div class="ion-padding">

    <!-- Logo -->
    <div class="login-logo">
      <img src="assets/icon.png" class="logo-icon" alt="foodies">
    </div>

    <!-- Formulario -->
    <form #loginForm="ngForm" class="form" novalidate>
      <!-- para poner los componentes del formulario (ion-list)-->
      <div class="list-form" > 
        <!-- Para poner un componente del formulario (ion-item) "email"-->
        <div class="item-form">
          <!-- Input email -->
          <input 
            [(ngModel)]="login.email" 
            type="email" 
            [placeholder]="('Email' | translate) || '&nbsp;'" 
            name="email"
            #email="ngModel" 
            spellcheck="false" 
            autocapitalize="off" 
            id="email"
            required
          >
        </div>
        <!-- Mensaje de error email -->
        <div class="error-msg">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            {{'Email is required' | translate}}
          </p>
        </div>

        <!-- boton Reset pass-->
         <br>
        <div>
          <button class="btnfp" (click)="onLogin(loginForm)" type="submit" expand="block">
            {{'Send Link' | translate}}
          </button>
        </div>

      </div>
    </form>


  </div>
</ion-content>
