<header>
  <div class="header_div">
    <div class="back_button">
      <button class="back-btn" (click)="goBack()">&#8592;</button>
    </div>
    <div class="header_lbl">{{ 'Pay with' | translate }} Stripe</div>
    <div class="add_button">
      <button class="add-btn" (click)="onAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>
</header>

<div class="container">
  <div class="content">
    <div *ngIf="!cards?.length">
      <p class="ion-text-center">{{ 'No Card Found Please Add Card' | translate }}</p>
    </div>
    <div class="radio-group">
      <ion-radio-group [(ngModel)]="card_token"> <!-- Enlazamos el grupo al modelo -->
        <div class="div_inner" *ngFor="let card of cards; let i = index">
          <ion-radio [value]="card.id" class="radio-btn" (ionSelect)="changeMethod(card.id)"></ion-radio>
          <div class="lbl_number">**** **** **** {{ card.last4 }} <br> Expiry {{ card.exp_month }} / {{ card.exp_year }}</div>
          <div class="thumbnail">
            <img src="assets/visa.png" class="img_visa" />
          </div>
          <button class="delete-btn" (click)="deleteCard(card.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-radio-group>
    </div>
    <button class="btn_addcard" (click)="payment()">{{ 'Payment' | translate }}
      {{ getCurrency() }}
      {{ grandTotal }}
    </button>
  </div>
</div>