nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 9vh;
    height: 4rem;
    transition: all 0.2s linear;
    background-color: var(--blanco);
    padding: 0px 3%;
    border-radius: 0 0 0 30px;
    background-color: rgb(255, 56, 76) !important;
    box-shadow: none;
}

ion-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.noData{
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 250px;
}