ion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 4rem;
    transition: all 0.2s linear;
    background-color: var(--blanco);
    padding: 0px 3%;
    border-radius: 0 0 30px 0;
    background-color: rgb(255, 56, 76) !important;
    box-shadow: none;
}

ion-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

ion-back-button{
    color: white;
}


.noData{
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 250px;
}

.tags{
    padding: 15px; 
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn {
    color: rgb(255, 56, 76) ;
    padding: 13px;
    border: solid 1px rgb(255, 56, 76);
    border-radius: 1rem;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.coupons{

    .info{
        .title{
            margin: 0px;
            font-weight: bold;
            .code{
                font-weight: normal;
                color: rgb(255, 56, 76);
            }
            .expire{
                font-size: .8rem;
                color: gray;
            }
            .desc{
                font-size: .8rem;
                color: gray;
            }
        }
    }
    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}