

@media (max-width: 500px){
    .formContain{
        width: 100%;
    }
}




// Modo claro
.login-logo {
    text-align: center;
    margin: auto;
    right: 0px;
    left: 0px;
    margin-top: 20%;
    margin-bottom: 20px;
    .logo-icon{
        width: 110px !important;
    }
    .login-name{
        margin: 0px;
        font-size: 1.5rem;
    }
    .login-subTitle{
        margin: 0px;
        font-size: 1rem;
    }
}
.login-logo img {
    max-width: 150px;
}

.list-form{
    margin: 0px;
}
.item-form{
    border-radius: 5px !important;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.item-form input{
    border: none;
    padding: 10px;
    border-bottom: 1px solid black;
}
.item-form label{
    display: none;
}

.form{
    display: flex;
    width: 1005;
    flex-direction: column;
    gap: 1rem;
}

.forgot-pwrd{
    text-align: right;
    color:var(--ion-color-primary);
}

.login-btn{
    color: white ;
    height: 50px;
}

.loginbtn {
    color: white ;
    padding: 13px;
    border: none;
    border-radius: 1rem;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    background-color: var(--ion-color-primary);
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.createAcc{
    text-align: center; 
   .registerTag{
        color: var(--ion-color-primary);
  
        font-weight: bold;
   }
} 

.error-msg{
    color: red;
}


// Modo oscuro
@media (prefers-color-scheme: dark) {
    .login-name {
        color: #ffffff;
    }
    .login-subTitle {
        color: #bbbbbb;
    }
    .login-logo img {
        filter: brightness(0.8); 
    }

    .item-form input {
        background-color: rgba(0, 0, 0, 0);;
        color: #ffffff;
        border-bottom: 1px solid #ffffff; 
    }

    .forgot-pwrd {
        color: rgb(255, 56, 76);
    }

    .loginbtn {
        background-color: rgb(255, 56, 76);
    }

    .createAcc{
        color: #ffffff;
       .registerTag{
            color: rgb(255, 56, 76);
            font-weight: bold;
       }
    } 

    .item-form input::placeholder {
        color: #bbbbbb; 
    }

    .item-form input:focus {
        background-color: #333333;
        color: #ffffff; 
        outline: none;
    }
}