/* Header */
.header_div {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 1rem;
    background-color: rgb(255, 56, 76); 
    border-bottom-left-radius: 30px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .back_button {
    display: flex;
    align-items: center;
  
    .back-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      margin-right: 10px; 
    }
  }
  
  .head_lbl {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    flex: 1; 
    text-align: center; 
  }
  
  .search-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  /* Barra de búsqueda desplegable */
  .searchbar {
    position: fixed;
    top: 70px; 
    left: 10px;
    right: 10px;
    padding: 0.5rem 0; 
    display: flex;
    justify-content: center;
    background: transparent; 
    z-index: 10;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .searchbar.show {
    opacity: 1;
    height: auto;
  }
  
  .search_input {
    width: 100%;
    max-width: 300px; 
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 56, 76, 0.15); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
  
  
  main {
    position: absolute;
    top: 110px; 
    left: 0;
    right: 0;
    padding: -5px;
  }
  
  
  /* Otros estilos de contenido */
  .main_content_div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
  }
  
  .card_div {
    width: 100%; 
    max-width: 400px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    
  
    .resto_detail {
      display: flex;
      align-items: center;
      padding: 15px; 
    }
  
    .back_image {
      height: 80px; 
      width: 80px; 
      border-radius: 10px; 
      object-fit: cover; 
    }
  
    .res_name {
      font-weight: 600;
      font-size: 16px; 
      margin: 5px 0; 
    }
  
    .res_location {
      color: rgb(50, 48, 48);
      font-size: 14px; 
    }
  
    .line_div {
      width: 100%; 
    
    }
    
  }  

    
@media (prefers-color-scheme: dark) {
  /* Estilos para el modo oscuro */
  
  .header_div {
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
  }
  
  .search_input {
    background-color: rgba(255, 56, 76, 0.25); 
    color: #fff; 
    border: none; 
  }

  /* Tarjetas en modo oscuro */
  .card_div {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2); 
    margin-bottom: 20px; 
    
    .resto_detail {
      display: flex;
      align-items: center;
      padding: 15px; 
      
      img {
        border-radius: 10px; 
        object-fit: cover; 
      }
    }

    .res_name {
      font-weight: 600;
      font-size: 16px; 
      margin: 5px 0; 
      color: #fff; 
    }

    .res_location {
      color: lightgray; 
      font-size: 14px; 
    }

    .line_div {
      width: 100%; 
      border: 1px solid rgba(255, 255, 255, 0.1); 
    }
  }
}