<header>
  <div class="header_div">
    <div class="back_button">
      <button class="back-btn" (click)="goBack()">&#8592;</button>
    </div>
    <div class="header_lbl">{{ 'Payments' | translate }}</div>
  </div>
</header>

<main class="content">
  <div class="header">
    <label class="title">{{ 'Payment Options' | translate }}</label>
  </div>
  
  <div class="item" (click)="openStripe()">
    <div class="label">{{ 'Pay with' | translate }} Stripe</div>
    <div class="thumbnail">
      <img src="assets/stripe.png" alt="Stripe" />
    </div>
  </div>

  <div class="item" (click)="payWithPaypal()">
    <div class="label">{{ 'Pay with' | translate }} Paypal</div>
    <div class="thumbnail">
      <img src="assets/paypal.png" alt="Paypal" />
    </div>
  </div>

  <div class="item" (click)="placeOrder()">
    <div class="label">{{ 'Cash on Delivery' | translate }}</div>
    <div class="thumbnail">
      <img src="assets/cod.png" alt="Cash on Delivery" />
    </div>
  </div>
</main>