

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title> {{'Edit Profile' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>
  <div class="main_content_div">
    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/back_image.jpg)'">
    </div>

    <div class="lower_div">
      <img class="white_div" [src]="profilePic" alt="" (click)="cover()" onError="this.src='assets/imgs/user.jpg'"><br>
      <p><strong>{{'Email' | translate}}:</strong> {{email}}</p>
      <div class="line_div"></div>

      
      <div class="form_div">
        <div class="item-form">
          <p class="label">{{'Name' | translate}}</p>
          <input type="text" [(ngModel)]="name">
        </div>

        <div class="item-form" style="display: none;">
          <p class="label">{{'Handle' | translate}}</p>
          <input type="text" [(ngModel)]="handle">
        </div>

        <div class="item-form">
          <p class="label">{{'Phone Number' | translate}}</p>
          <input type="tel" [(ngModel)]="phone">
        </div>

        <div class="item-form" style="display: none;">
          <p class="label">{{'Description' | translate}}</p>
          <input type="text" [(ngModel)]="descriptions">
        </div>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="update()" expand="block" class="sub_btn">
      {{'Save Profile' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>