<header>
  <div class="header_div">
    <div class="back_button">
      <button class="back-btn" (click)="goBack()">&#8592;</button>
    </div>
    <div class="header_lbl">Calificar</div>
    <div class="empty_space"></div> <!-- Espacio vacío para centrar -->
  </div>
</header>

<ion-content>
  <p class="title"> Calificar Comida </p>
  <div *ngFor="let item of items" class="flex_box">
    <ion-label class="name">{{item.name}}</ion-label>
    <rating [(ngModel)]="item.rate" readOnly="false" max="5" emptyStarIconName="star-outline"
      halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onRatingChange($event)">
    </rating>
  </div>

  <p class="title"> Calificar a Repartidor</p>
  <div class="driver">
    <ion-item lines="none">
      <!-- <ion-avatar slot="start" style="background: transparent;">
        <ion-img [src]="image" onError="this.src='assets/imgs/paper.png'"></ion-img>
      </ion-avatar> -->
      <div class="custom-avatar">
        <img [src]="image" onError="this.src='assets/imgs/paper.png'" />
    </div>
      <ion-label>{{name}}</ion-label>
    </ion-item>
    <rating [(ngModel)]="driver" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
      starIconName="star" nullable="false" (ngModelChange)="onRatingChange($event)"></rating>
    <ion-textarea rows="5" [(ngModel)]="driverNotes" placeholder="Comentarios"></ion-textarea>
  </div>
  <!-- <ion-button (click)="submit()" expand="block" shape="round">
    Enviar
  </ion-button> -->

  
  <div class="button-container"> <!-- Contenedor para el botón -->
    <button class="btn" (click)="submit()">
      Enviar
    </button>
  </div>
</ion-content>